<p>東日本配車センター</p>
<p>大塚様</p>
<p></p>

<p>お疲れ様です。</p>
<p>営業の磯貝です。</p>

<p>掲題の件でございますが、
車両手配をお願い致します。</p>

<p>集荷日：<%= "#{@pickuprequest.pickup_date.strftime('%-m月%-d日')}" %></p>
<p>車種：　<%= "#{@pickuprequest.car_type}  #{@pickuprequest.number_of_car}台" %></p>
<p>集荷先：　添付ファイルを参照ください。</p>
<p>貨物内容：　添付ファイルを参照ください。</p>
<p></p>
<p>集荷時間は営業時間内であればいつでも問題ございません。</p>
<p>※8:30 – 20:00</p>
<p></p>
<p>なお、集荷前日までに</p>
<p>車番のご連絡をお願い致します。</p>
<p></p>
<p>お手数をおかけしますが
どうぞよろしくお願いいたします。</p>
