 <div class="entry">
  <div class="room-name">
     Room Name: <%= link_to entry.room.name, room_path(entry.room), data: {"turbolinks" => false} %>
  </div>
  
  <div class="room-users">
    <% entry.room.entries.each do |entry| %>
    <div class="room-user">
     Users: <%= entry.user.name %>
    </div>
      
    <% end %>
  </div>
 </div>