#chatbox {
    width: 800px;
    height: 300px;
    overflow-y: scroll;
    margin: 10px auto ;
    border: 2px solid rgba(192, 192, 192, 0.5);
    border-radius: 5px;
    padding: 10px;
    
}

.chat-new {
    width: 800px;
    margin: 0 auto;
    display: flex;
    
    .form-control{
        width: 700px!important;
        display: inline-block;
    }
    
    .btn{
        margin-left: 18px;
        width: 80px;
        display: inline-block;
    }
    
}

.users-chat {
    border-bottom: 1px solid rgba(192, 192, 192, .6);
    padding-left: 10px;
    margin-top: 20px;
    display: flex;

 .add-user-checkbox {
     width: 30px;
 }
 
 .check-box-user{
     
     width: 150px;
     
 }
 
 p{
     height: 20px;
     display: inline-block;
     vertical-align: middle;
 }
}

.users-chat:hover{
    border-bottom: 1px solid rgba(137, 189, 222, .6);
    color: skyblue;
}

.add-user-container {
    width: 800px;
    margin: 0 auto;
}