.main {
   display: flex;
   height: 100%;
}


.left-sidebar {
   z-index: 15;
   position: fixed;
   height: 100%;
   width: 150px;
   background-color: #1e1e1e;
   padding-top: 50px;
   a{
      display: block;
      padding: 10px 5px 0 15px;
      color: white;
   }
   
   a:hover {
      color: #FFFF66;
   }
}

.main-container {
   margin: 50px 0 0 150px;
   width: 100%   
}