// Place all the styles related to the PickupRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h2 {
    text-align: center;
}


.table_box {
  width: 100%;
  background: skyblue;
  padding: 5px;
}

.tr_box {
  display: flex;
  background: orange;
  height: 30px;
  text-align: center;
  
}

.tr {
  width: 14.28%;
  border: solid 1px black;
}

.th {
  background: tomato;
}

.td {
  background: pink;
}


.form_with_css {
  display: flex;
  background: yellow;
  width: 100%;
  
  .tr{
    width: 14.28%;
  }
}