// Place all the styles related to the qrcode controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.work-page-container{
    
    width: 700px;
    height: 700px;
    text-align: center;
    margin: 0 auto;
    
}
.chartbox{
    height: 300px;
    width: 300px;
    margin: 0 auto;
}