// Place all the styles related to the receiveds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#received_form {
    background-color: rgba(128, 128, 128, 0.5);   
}

.search-box-container {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    
    input{ 
        width: 150px
    }
    
    .search-btn {
        width: 50px;
    }
}

.page-title {
    width: 1000px;
    margin: 20px auto 50px;
    .title {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
}