    <header>
    <div class="title">
       
        <% if @current_user %>
        <h1>
        <a href="/", id="titleword">MSK</a>
        </h1>
         <div class="header-right">
             <div class="user-name">
             <%= link_to @current_user.name, user_path(@current_user) ,  data: {"turbolinks" => false}%>
             </div>
             <div class="logout">
                 <%= link_to "ログアウト", logout_path,  method: :delete %>
             </div>
         </div> 
        <%end%>
    </div>
   
    </header>